<div>
<form method="post" action="/register">
<p>  <label for="firstname">Firstname:</label><input type="text" name="firstname"/> </p>
<p><label for="lastname">Lastname:</label><input type="text" name="lastname" /></p>
<p><label for="email">Email:</label><input type="text" name="email"/><p>
  <p><label for="phone">Mobile Phone:</label type="text" name="phone" /></p>
  <p><label for="password">Password:</label><input type="password" name="password"/></p>
</form>
</div>
